:root {
 --primary-color: #c10607;
 --secondary-color: #d2cdcd;
 --tertiary-color:#090404;

 --grey-color:#888887;

 --primary-font:'Poppins', sans-serif;
 --secondary-font: Satisfy;

 --btn-col:rgb(255, 184, 4) ;
 --animate-speed: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif ;
  font-size: 62.5%;
  overflow: hidden;
  line-height: 1.6;
}

.hero {
  background: url(../images/dmx_red.jpg) 
  no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.hero-content h1 {
  font-size: 4rem;
}

.hero-content h2 {
  font-size: 7rem;
  font-weight: normal;
}


/* BIOGRAPHY */

.bio-content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.biography {
  height: 100vh;
  background: var(--tertiary-color);
  color: var(--secondary-color);
}

.biography h1 {
  color: var(--primary-color); 
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.biography .paraline {
  border-top: 1px dashed var(--grey-color); 
  font-size: 1.1rem;
}

.paraline {
  padding-top: 30px;
  
}  
 .paraline a {
   text-decoration: none;
   font-size: .9rem;
   font-style: italic;
   color: var(--primary-color);
   font-weight: 600;
 }


/* DISCOGRAPHY */

.discography {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  height: 100vh;
}
     
.discography h1 {
  color: var(--primary-color); 
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  margin-bottom: 20px;
}

.album h3 {
  font-size: .8rem;
  padding-bottom: 20px;
  font-weight: 500;
}

.discography-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px dashed var(--grey-color); 
}

.album {
  display: flex;
  align-items: flex-start;
  width: 31%;
  align-content: space-between;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 50px;
}

.album img {
  height: 7rem;
  width: 7rem;
  padding-bottom: 20px;
}

.album-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.album-content span {
  font-size: .7rem; 
  color: var(--grey-color); 
}

/* MEDIA QUERIES */ 

@media(max-width: 768px) {
/* HERO */

  body{
    overflow: scroll;
  }

  .hero {
    width: auto;
    height: auto;
  }

  .btn-single {
    visibility: hidden;
  }

  .two .btn-double {
    display: none;
  }

  .hero-content {
    height: auto; 
    padding-top: 100px;
  }  

  .hero-content h1 {
    font-size: 2rem;
    text-align: center;
  }
  
  .hero-content h2 {
    font-size: 3rem;
    font-weight: normal;
  }

/* BIO */

  .biography {
     height: auto;
     font-size: .5rem;
   }

  .bio-content {
    max-width: 400px;
    text-align: center;
    padding: 0 30px;
  }

  .biography h1 {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  
/* DISC */

  .discography {
    height: auto;
  }

  .discography h1 {
    font-size: 1.5rem;
  }

  .album h3 {
    font-size: .3rem;
    font-weight: 400;
  }

  .discography-content {
    flex-direction: column;
    max-width: 400px;
    padding-left: 30px;
  }

  .album-content {
    flex-direction: column;
  }

  .album {
    width: 100%;
    padding: 0 30px;
    padding-top: 30px;
  }

  .album-content span {
    font-size: .8rem; 
  }

  .album h3 {
    font-size: 1rem;
  }


}

/* Page Animation */
#page-1 h1 {
  transform: translateY(-1000px);
  animation: heading var(--animate-speed) forwards ease-in-out;
}

#page-1 h2 {
  transform: translateX(-1300px);
  animation: text var(--animate-speed) forwards ease-in-out 1s;
}

/* Keyframes */
@keyframes heading {
 to {
   transform: translateY(0);
 }
}

@keyframes text {
 to {
   transform: translateX(0);
 }
}